@inherits LayoutComponentBase
@using Treks.Pages

<PageTitle>Treks</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            <Toast />
            @Body
        </article>
    </main>
</div>
